<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="h-screen w-full flex justify-center items-center">
    
    <div class="flex flex-col items-center">
        Login to the site to contine
        <a href="{% url 'login' %}"><button class="border border-gray-300 border-2 rounded-md px-3 h-10 mt-3 cursor-pointer hover:bg-gray-300 hover:text-black">Login</button></a>
    </div>


</body>
</html>